<header class="navbar-prof">
    <div class="logo-prof">
        <h2>PROFESOR</h2>
        <span class="sub">Panel Académico</span>
    </div>

    <button class="admin-hamburger" (click)="menuOpen = !menuOpen">
      <i class="bi" [ngClass]="menuOpen ? 'bi-x-lg' : 'bi-list'"></i>
    </button>


    <nav class="menu-prof" [class.open]="menuOpen">
        <a (click)="scrollToAlumnos()">Alumnos</a>
        <a routerLink="/notas">Notas</a>
        <a routerLink="/cursos">Cursos</a>
        <a (click)="scrollToReportes()">Reportes</a>
        <a class="logout-btn" (click)="logout()">Cerrar sesión</a>
        
    </nav>

</header>

<section class="hero-prof">
    <div class="left">
        <h1>Bienvenido Profesor (a)</h1>
        <p>
            Gestiona tus alumnos, registra notas y administra tus cursos 
            desde un solo lugar.
        </p>
    </div>

    <div class="right">
        <img src="../../../assets/imagenes/profesora.png" alt="Profesor">
    </div>
</section>

<!-- ==========================
      SECCIÓN DE ALUMNOS
=========================== -->
<section class="alumnos-section" id="alumnosSection">
    
    <h2 class="title-section">Lista de Alumnos</h2>

    <!-- BUSCADOR -->
    <input 
      type="text"
      class="buscador"
      placeholder="Buscar por nombre..."
      [(ngModel)]="buscador"
    >

    <!-- LISTA -->
    <ul class="alumnos-list">

        <li *ngFor="let a of alumnosFiltrados; let i = index">

            <div class="alumno-info">
              <div *ngIf="editIndex !== i">
                  <div class="nombre">{{ a.nombre }}</div>
              </div>

              <div *ngIf="editIndex === i">
                  <input type="text" [(ngModel)]="alumnoEditado.nombre">
              </div>
          </div>


            <div class="actions">
                <button *ngIf="editIndex !== i" (click)="editarAlumno(i)">Editar</button>
                <button *ngIf="editIndex === i" (click)="guardarAlumno(i)">Guardar</button>
                <button class="delete-btn" (click)="eliminarAlumno(i)">Eliminar</button>
            </div>

        </li>

    </ul>

</section>

<!-- ==========================
      SECCIÓN DE REPORTES
=========================== -->
<section class="reportes-section" id="reportesSection">

  <h2 class="title-section">Enviar reporte al Administrador</h2>

  <textarea 
    [(ngModel)]="reporteTexto"
    placeholder="Escribe tu reporte aquí..."
    class="reporte-textarea"
  ></textarea>

  <button class="btn-enviar" (click)="enviarReporte()">Enviar Reporte</button>

</section>



<!-- FOOTER -->
<footer class="footer">
  <p>© 2025 Instituto Superior Tecnológico • Sistema Académico</p>
</footer>
