/* You can add global styles to this file, and also import other style files */
/* ======= TOAST MENSAJES PROFESIONALES ======= */

/* ======= TOAST EN EL CENTRO DE LA PANTALLA ======= */

.toast-mensaje {
  position: fixed;
  top: 50%;              /* Centrado vertical */
  left: 50%;             /* Centrado horizontal */
  transform: translate(-50%, -50%) scale(0.8);
  
  padding: 16px 24px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;

  opacity: 0;
  transition: all .3s ease;
  z-index: 99999;
  text-align: center;

  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

/* Mostrar animación */
.toast-mensaje.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Colores */
.toast-mensaje.success {
  background: #4CAF50; /* Verde */
}

.toast-mensaje.error {
  background: #F44336; /* Rojo */
}

.toast-mensaje.info {
  background: #2196F3; /* Azul */
}

/* MODO OSCURO GLOBAL */
.dark-mode {
  background-color: #121212 !important;
  color: #e4e4e4 !important;
}

/* ==========================
   MODO OSCURO SIMPLE Y EFECTIVO
========================== */

/* Fondo global */
body.dark-mode {
  background: #464343 !important;
  color: #e6e6e6 !important;
}

/* Tarjeta principal */
body.dark-mode .card {
  background: #1e1e1e !important;
  color: #ffffff !important;
}

/* Título principal */
body.dark-mode .card h2,
body.dark-mode .card h3 {
  color: white !important;
}

/* Inputs, select y buscador */
body.dark-mode input,
body.dark-mode select,
body.dark-mode .search {
  background: #2c2c2c !important;
  border: 1px solid #555 !important;
  color: #ffffff !important;
}

body.dark-mode input::placeholder,
body.dark-mode .search::placeholder {
  color: #bbbbbb !important;
}

/* Tabla completa */
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  background: #646363 !important;
  color: #dddddd !important;
  border-color: #444 !important;
}

/* Fila con el nombre */
body.dark-mode .nombre-extra {
  background: #2b2b2b !important;
}

/* Navbar */
body.dark-mode .navbar {
  background: #000000 !important;
}

body.dark-mode .nav-title,
body.dark-mode .nav-right a {
  color: #ffffff !important;
}

/* Footer */
body.dark-mode .footer {
  background: #252529 !important;
  color: #dddddd !important;
}

.darkmode-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #d9e5e9; /* color del ícono en modo claro */
  transition: transform 0.25s ease, color 0.25s ease;
}
body.dark-mode .darkmode-btn {
  color: #ffdd57 !important; /* color del ícono en modo oscuro */
}

.darkmode-btn:active {
  transform: scale(1.3) rotate(20deg);
}

.darkmode-btn i {
  transition: transform 0.35s ease;
}

/* Ícono gira cuando cambia */
body.dark-mode .darkmode-btn i {
  transform: rotate(180deg);
}

